@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

h4 {
    color: #444;
    margin: 5px;
}

.main-blog {
    padding-top: 150px;
    background-color: #f8f8f8;
}

.main-blog a:hover {
    color: var(--site-color-01-hover);
}

/* POST SLIDER */
.post-slider {
    position: relative;
}

.post-slider .slider-title {
    text-align: center;
    margin: 30px auto;
}

.post-slider .next {
    position: absolute;
    top: 50%;
    right: 30px;
    font-size: 2em;
    color: var(--site-color-01);
    cursor: pointer;
}

.post-slider .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    font-size: 2em;
    color: var(--site-color-01);
    cursor: pointer;
}

.post-slider .post-wrapper {
    width: 84%;
    height: 450px;
    margin: 0px auto;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
}

.post-slider .post-wrapper .post {
    width: 300px;
    height: 430px;
    margin: 0px 10px;
    display: inline-block;
    background: white;
    border-radius: 5px;
    box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .post-info {
    height: 130px;
    padding: 0px 5px;
}

.post-slider .post-wrapper .post .slider-image {
    width: 100%;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-info p {
    font-family: 'Poppins', sans-serif;
}

/* CONTENT */
.content {
    width: 90%;
    margin: 30px auto 30px;
}

.content .main-content {
    width: 70%;
    float: left;
}

.content .main-content .post {
    width: 95%;
    height: 270px;
    margin: 20px auto;
    border-radius: 5px;
    background: white;
    position: relative;
}

.content .main-content .post .read-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 1px solid var(--site-color-01);
    background: transparent;
    border-radius: 0px;
    color: var(--site-color-01) !important;
}

.content .main-content .post .read-more:hover {
    background: var(--site-color-01);
    color: white !important;
    transition: .25s;
}

.content .main-content .post .post-image {
    width: 40%;
    height: 100%;
    float: left;
}

.content .main-content .post .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
}

.content .main-content .post .post-preview .preview-text {
    font-family: 'Poppins', sans-serif;
}

.content .main-content .post .post-preview .preview-title {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    color: #444;
}

.content .main-content .recent-post-title {
    margin: 20px;
}

.content .sidebar {
    width: 30%;
    float: left;
}

.content .sidebar .section {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.content .sidebar .section .section-title {
    margin: 10px 0px;
}

.content .sidebar .section.search {
    margin-top: 80px;
}

.content .sidebar .section.topics ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border-top: 1px solid #e0e0e0;
}

.content .sidebar .section.topics ul li a {
    display: block;
    padding: 15px 0px;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.3s;
}

.content .sidebar .section.topics ul li a:hover {
    padding-left: 10px;
    transition: all 0.3s;
}

/* MOBILE VIEW */
@media only screen and (max-width: 934px) {
    .content {
        width: 100%;
    }
    .content .main-content .post {
        width: 100%;
    }
    .content .main-content {
        width: 100%;
        padding: 10px;
    }
    .content .sidebar {
        width: 100%;
        padding: 10px;
    }
    .content .sidebar .section.search {
        margin-top: 30px;
    } 
}

@media only screen and (max-width: 600px) {
    .content .main-content .post {
        height: auto;
    }
    .content .main-content .post .post-image {
        width: 100%;
    }
    .content .main-content .post .post-preview {
        width: 100%;
    }
    .content .main-content .post .read-more {
        position: static;
        display: block;
        width: 100%;
        text-align: center;
    }
}